<Navbar></Navbar>
<Jumbo>
  <h2>ALWAYS SHOWN ABOUT PAGE</h2>
  <p>
    I AM ALWAYS SHOWN
  </p>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
  <LinkTo @route="index" class="button">Home</LinkTo>

</Jumbo>

{{outlet}}